@import "./variables.scss";
@import "./normalize.scss";


html, body{
    font-size: 16px;
    background-color: #fff;
}
button:disabled{
    opacity: 0.7;
    cursor: default;
}
.btn{
    cursor: pointer;
}
.h5, h5 {
    font-size: 1.25rem;
}

    
