<template>
  <div
    @click="close"
    :class="{
      show: isOpen === true,
    }"
    class="modal fade"
  >
    <div class="modal__dialog" @click.stop>
      <div class="modal__content">
        <div class="modal__header">
          <h5 class="modal__title">Modal title</h5>
          <button
            @click="close"
            type="button"
            class="modal__btn-close btn"
          ></button>
        </div>

        <div class="modal__body">
          <slot name="body"></slot>
        </div>
        <div class="modal__footer">
          <slot name="footer" :close="close" :confirm="confirm"></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Modal",

  currentPopupController: null,

  data() {
    return {
      isOpen: false,
    };
  },
  
  mounted() {
    document.addEventListener("keydown", this.handleKeydown);
  },
  beforeUnmount() {
    document.removeEventListener("keydown", this.handleKeydown);
  },
  
  methods: {
    handleKeydown(e) {
      if (this.isOpen && e.key === "Escape") {
        this.close();
      }
    },

    open() {
      let resolve;
      let reject;
      const modalPromise = new Promise((ok, fail) => {
        resolve = ok;
        reject = fail;
      });

      this.$options.modalController = { resolve, reject };
      this.isOpen = true;

      return modalPromise;
    },

    confirm() {
      this.$options.modalController.resolve(true);
      this.isOpen = false;
    },

    close() {
      this.$options.modalController.resolve(false);
      this.isOpen = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;

  strong {
    background-color: antiquewhite;
    padding: 5px 5px 0 5px;
  }

  &__dialog {
    position: relative;
    width: auto;
    pointer-events: none;
    max-width: 500px;
    margin: 1.75rem auto;
  }
  &__header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
  }
  &__title {
    margin-bottom: 0;
    line-height: 1.5;
  }
  &__body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
  }
  &__footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
  }
  &__btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent url(../assets/i-cross.svg) center/1em auto no-repeat;
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.5;
  }
}
.modal.fade .modal__dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
.modal.show {
  display: block;
  background-color: rgba(0, 0, 0, 0.3);

  .modal__dialog {
    transform: none;
  }
}

.fade:not(.show) {
  opacity: 0;
}
.fade {
  transition: opacity 0.15s linear;
}
</style>
