<template>
  <button @click="learnVue" type="button" class="btn">
    Изучить Vue
  </button>

  <Modal ref="confirmationModal"
  >
    <template v-slot:body>
      <span>!!!</span>
    </template>
    <template #footer="{ confirm }">
      <p>
        Для удаления блока введите
        <strong>{{ this.$options.CONFIRMATION_TEXT }} </strong>
      </p>
      <input v-model="confirmation" type="text" />
      <button
        :disabled="!isConfirmationCorrect"
        @click="confirm"
        type="button"
        class="modal__btn btn btn-primary"
      >
        Delete
      </button>
    </template>
  </Modal>
</template>

<script>
//import { sendRequest } from "./api";
import Modal from "./components/Modal.vue";

export default {
  name: "App",
  components: {
    Modal,
  },

  CONFIRMATION_TEXT: "ПОДТВЕРЖДАЮ",

  data() {
    return {            
      confirmation: "",
    };
  },

  computed: {
    isConfirmationCorrect() {
      return this.confirmation === this.$options.CONFIRMATION_TEXT;
    },
  },

  methods: {
    async learnVue() {
      this.confirmation = "";
      
      const modalResult = await this.$refs.confirmationModal.open();

      if (modalResult) {
        alert("Confirmed!");
      }
    },
  },
};
</script>

<style lang="scss">
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
</style>
